body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(200,200,200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NavBar */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}


/* auth form */

.Form-title::after {
  content: ' ';
  border-bottom: 2px solid rgb(53, 229, 53);
  max-width: 80px;
  display: block;
  margin: 1em auto;
}

.Form-container {
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width:60%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0px 2px 5px 5px #888888;
}

.Form-container > form {
  margin: 0 auto;
  max-width: 300px;
}

.Form-text-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

.Form-submit {
  background-color: rgb(53, 229, 53);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Form-submit:hover {
  background-color: rgba(53, 229, 53, 0.7);
}


.Form-switch {
  cursor: pointer;
  font-weight: bold;
}

.Form-tab-selected {
  display: none;
}
